@{
    ViewData["Title"] = "@Model.Name";
}

@model ZineClient.Models.Zine

<p>This zine was created by @ViewBag.Name</p>

<h2>Zine Details: @Html.DisplayFor(model => model.Name)</h2>
..
<p>Description: @Html.DisplayFor(model => model.Description)</p>
<p>Publication Date: @Html.DisplayFor(model => model.PublicationDate)</p>
<p>Issue Number: @Html.DisplayFor(model => model.IssueNumber)</p>

@if (@Model.Posts.Count == 0)
{
  <p>This zine doesn't have posts yet</p>
}
else
{
  <p></p>
  foreach(var join in Model.Posts)
  {
    <h4><a asp-controller="Posts" asp-action="Details" asp-route-id="@join.Post.PostId">@join.Post.Title</a> </h4>
      @* @if (Model.Organization.Owner == User.Identity)
      { *@
        <a asp-controller="Posts" asp-action="Delete" asp-route-id="@join.Post.PostId">Delete post?</a>
      @* } *@
  }
}

@* @if (Model.Organization.Owner == User.Identity)
{ *@
<div class="btn-menu">
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ZineId">Edit zine</a>
  <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.ZineId">Delete zine</a>
  <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
</div>
@* } *@


