@{
    ViewData["Title"] = "@Model.Name";
}

@model ZineClient.Models.Zine


@if (@Model.Posts.Count == 0)
{
  <p>This zine doesn't have posts yet</p>
}
else
{
  <p></p>
  foreach(Post post in Model.Posts)
  {
    <li>@post.Title (@zine.IssueNumber)  
      @if (Model.Owner == User.Identity)
      {
        <a asp-controller="Posts" asp-action="CheckDelete" asp-route-id="@post.PostId">Delete post?</a>
      }
    </li>
  }
}

@if (Model.Owner == User.Identity)
{
<div class="footer">
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ZineId">Edit zine</a>
  <a class="btn btn-light" asp-action="CheckDelete" asp-route-id="@Model.ZineId">Delete zine</a>
  <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
</div>
}


