@model ZineClient.Models.Zine

@{
  ViewData["Title"] = @Model.Name;
}

@* <div class="text-center">
  <h1><em>@Model.Name</em>, Issue No. @Model.IssueNumber</h1>
  <h4>by @ViewBag.Name</h4>
  <h3>@Model.PublicationDate.ToString("MM/dd/yyyy") | @Model.Description</h3>
</div>
<br> *@

<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(@Model.MainImageUrl);">
  <div class="hero-text">
    @* <img src="@Model.MainImageUrl" alt=""> *@
    <h1 class="display-4"><em>@Model.Name</em></h1>
    <p>@Model.Description</p>
  </div>
</div>
<br>
<h4>@ViewBag.Name</h4>
<h3>Issue No. @Model.IssueNumber | @Model.PublicationDate.ToString("MM/dd/yyyy")</h3>
<br>

@if (@Model.Posts.Count == 0)
{
  <p>This zine doesn't have posts yet</p>
}
else
{
  <p></p>
  foreach(var join in Model.Posts)
  { 
    <div class="post">
      <h4><a asp-controller="Posts" asp-action="Details" asp-route-id="@join.Post.PostId">@join.Post.Title</a> </h4>
      @join.Post.Published
      @if (User.Identity.IsAuthenticated)
      { 
        <br>
        <form method="post">
          <input type="hidden" name="joinId" value="@join.PostZineId"/>
          <input class="btn btn-light btn-sm" type="submit" asp-controller="Posts" asp-action="DeleteZine" asp-route-id="@join.PostZineId" value="Remove this post from zine?" />
        </form>
        <br>
      }
      @if (join.Post.Body != null)
      {
        <div id="body-@join.PostId" class="post-body">@join.Post.Body</div>
        <script>
          var bodyDiv = document.getElementById('body-@join.PostId');
          bodyDiv.innerHTML = bodyDiv.innerText;
        </script>
      }
      @if (@join.Post.MainImageUrl != null)
      {
      <img src="@join.Post.MainImageUrl" class="img-fluid img-thumbnail">
      }
      else
      {
      <img class="img-fluid" src="@ViewBag.Random">
      }
      <br>
      @foreach (PostTag postTag in join.Post.Tags)
      {
        <a asp-controller="Tags" asp-action="Details" asp-route-id="@postTag.TagId"><span>#</span>@postTag.Tag.Name</a><span> </span>
      }
    </div>
  }
}

  @if (User.Identity.IsAuthenticated)
  {
  <div class="btn-menu">
    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.ZineId">Edit zine</a>
    <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.ZineId">Delete zine</a>
    <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
  </div>
  }
@* </body> *@

