@model ZineClient.Models.Post

@{
  ViewData["Title"] = "Submit Post to a Zine";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
  <h2> Contribute your post @Html.DisplayFor(model => model.Title) to a zine</h2>
</div>


@* @using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PostId)

    @Html.Label("Select zine")
    @Html.DropDownList("ZineId")

    <input type="submit" value="Save" />
} *@

<div class="registration-form">
  <form asp-controller="Posts" asp-action="AddZine" method="post">

    <input type="hidden" value="@Model.PostId"  asp-for="PostId">
    @Html.Label("Select zine")
    @Html.DropDownList("ZineId")

  <input class="btn btn-light" type="submit" value="Add Zine">
</form>