@{
    ViewData["Title"] = @Model.Title;
}

@model ZineClient.Models.Post


<div class="text-center">
  <h1>@ViewData["Title"]</h1>
</div>

<br>
@if (Model.ApplicationUser != null)
{
  <p><strong>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</strong> @Model.Published</p>
}
else
{
  <p>@Model.Published</p>
}
<div class="main-content">

</div>
<div id="model-body" class="post-body">@Model.Body</div>
<img src="@Model.MainImageUrl" class="img-fluid">

@if (@Model.Tags.Count == 0)
{
  <p>This post doesn't have tags yet</p>
}
else
{
  <p></p>
  foreach(var join in Model.Tags)
  {
    <a asp-controller="Tags" asp-action="Details" asp-route-id="@join.TagId"><span>#</span>@join.Tag.Name</a><span> </span>
    @if (User.Identity.IsAuthenticated)
    { 
      <a class="btn btn-light btn-sm" asp-controller="Tags" asp-action="Delete" asp-route-id="@join.Tag.TagId">Delete tag?</a>
    }
  }
}

<div class=content></div>

@if (@Model.Zines.Count == 0)
{
  <p>This post doesn't belong to any of zines yet</p>
}
else
{
  <h5>Zines where this post was published:</h5>
  int x = 0;
  foreach(var join in Model.Zines)
  { 
    x++;
    <h5>@join.Zine.Name </h5>
    @if (User.Identity.IsAuthenticated)
    { 
      @using (Html.BeginForm("DeleteZine", "Posts"))
      {
        @Html.Hidden("joinId", @join.PostZineId)
        <input class="btn btn-light btn-sm" type="submit" value="Remove post from this zine?"/>
      }
    }
  }
}

<div class=content></div>



@if (User.Identity.IsAuthenticated)
{
<div class="text-center">
  <div class="btn-group">
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.PostId">Edit post</a>
  <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.PostId">Delete post</a>
  <a class="btn btn-light" asp-action="AddZine" asp-route-id="@Model.PostId">Add zine</a>
  <a class="btn btn-light" asp-action="AddTag" asp-route-id="@Model.PostId">Add tag</a>
  </div>
</div>
}

<script>
  var bodyDiv = document.getElementById('model-body');
  bodyDiv.innerHTML = bodyDiv.innerText;
</script>
