@{
    ViewData["Title"] = @Model.Title;
}

@model ZineClient.Models.Post

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
</div>

<br>
@if (Model.ApplicationUser != null)
{
  <p><strong>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</strong> @Model.Published</p>
}
else
{
  <p>@Model.Published</p>
}
<div class="main-content">

</div>
<div id="model-body" class="post-body">@Model.Body</div>


@if (@Model.Zines.Count == 0)
{
  <p>This post doesn't belong to any of zines yet</p>
}
else
{
  <h4>Zines where this post was published:</h4>
  int x = 0;
  foreach(var join in Model.Zines)
  { 
    x++;
    <h4>@x. @join.Zine.Name </h4>
    @using (Html.BeginForm("DeleteZine", "Posts"))
    {
      @Html.Hidden("joinId", @join.PostZineId)
      <input type="submit" value="Remove post from this zine?"/>
    }
  }
}

<img src="@Model.MainImageUrl" class="img-fluid">

@if (@Model.Tags.Count == 0)
{
  <p>This post doesn't have tags yet</p>
}
else
{
  <p></p>
  foreach(var join in Model.Tags)
  {
    <li>@join.Tag.Name 
      @* @if (Model.Organization.Owner == User.Identity)
      { *@
        <a asp-controller="Tags" asp-action="Delete" asp-route-id="@join.Tag.TagId">Delete tag?</a>
      @* } *@
    </li>
  }
}

@* @if (Model.Organization.Owner == User.Identity)
{ *@
<div class="btn-menu">
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.PostId">Edit post</a>
  <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.PostId">Delete post</a>
  <a class="btn btn-light" asp-action="AddZine" asp-route-id="@Model.PostId">Add zine</a>
  <a class="btn btn-light" asp-action="AddTag" asp-route-id="@Model.PostId">Add tag</a>
</div>
@* } *@

<script>
  var bodyDiv = document.getElementById('model-body');
  bodyDiv.innerHTML = bodyDiv.innerText;
</script>
