@using System.Security.Claims;
@model ZineClient.Models.ApplicationUser

@{
  ViewData["Title"] = "Account Home";
}

  <div class="text-center">
    <h1>@ViewData["Title"]</h1>
  </div>


@if (User.Identity.IsAuthenticated)
{
  <div class="sub-heading text-center">
    <h2>Logged in as <strong>@User.Identity.Name</strong></h2>
  </div>  

  <div class="profile-section">
    <h3>My Profile</h3>
    <h4>Name: @Model.FirstName @Model.LastName</h4>
      <h4>E-mail: @Model.UserName</h4>
  </div>

  <div class="text-center">
    <div class="btn-group">
      <a class="btn btn-light" asp-controller="Organizations" asp-action="Create">New organization</a>
      <a class="btn btn-light" asp-controller="Posts" asp-action="Create">New post</a>
      <form asp-controller="Account" asp-action="Logoff" method="post">
        <input class="btn btn-light" type="submit" value="Sign out">
      </form>
    </div>
  </div>
}
else
{
  <div class="text-center">
    <div class="btn-group">
      <a class="btn btn-light" asp-action="Register">Sign Up</a>
      <a class="btn btn-light" asp-action="Login">Login</a>
    </div>
  </div>
}