@model ZineClient.Models.ApplicationUser

<div class="jumbotron">
  <h1>My posts</h1>
</div>

@if (Model.Posts.Count == 0)
{
  <p>You have not created any posts yet.</p>
}
else
{
  @foreach (var post in Model.Posts)
  {
    <h4 asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">@post.Title</h4>
    <p>@post.Published</p>
    <p>@post.Body</p>
    <img class="img-fluid" src="@post.Source">
  }
}
