@model ZineClient.Models.ApplicationUser

@{
  ViewData["Title"] = "My Posts";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
</div>

@if (Model.Posts.Count == 0)
{
  <p>You have not created any posts yet.</p>
}
else
{
  @foreach (var post in Model.Posts)
  {
    @* <h4 asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">@post.Title</h4> *@
    <h4>@Html.ActionLink($"{post.Title}", "Details", "Posts", new { id = post.PostId })</h4>
    <p>@post.Published</p>
    @if (post.Body != null)
        {
          <div id="body-@post.PostId" class="post-body">@post.Body</div>
          <script>
            var bodyDiv = document.getElementById('body-@post.PostId');
            console.log(bodyDiv);
            bodyDiv.innerHTML = bodyDiv.innerText;
          </script>
        }
    <img class="img-fluid" src="@post.MainImageUrl">
  }
}

<div class="btn-menu">
  <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
</div>
