@model ZineClient.Models.ApplicationUser

@{
  ViewData["Title"] = "My Posts";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
</div>

@if (Model.Posts.Count == 0)
{
  <p>You have not created any posts yet.</p>
}
else
{
  @foreach (var post in Model.Posts)
  {
    <hr>
    <div class="index-preview2">
      <div>
        <div class="preview-image">
          @if (@post.MainImageUrl != null)
          {
          <img style="width:200px" src="@post.MainImageUrl">
          }
          else
          {
          <img style="width:200px" src="https://thednetworks.com/wp-content/uploads/2012/01/picture_not_available_400-300.png">
          }
        </div>
        <h2>@post.Title</h2>
      @if (post.Body != null)
      {
        <div id="body-@post.PostId" class="post-preview">@post.Body</div>
        <script>
          var bodyDiv = document.getElementById('body-@post.PostId');
          bodyDiv.innerHTML = bodyDiv.innerText;
        </script>
      }
      </div>
    </div>
  }
}

    @* <h4>@Html.ActionLink($"{post.Title}", "Details", "Posts", new { id = post.PostId })</h4>
    <p>@post.Published</p>
    @if (post.Body != null)
        {
          <div id="body-@post.PostId" class="post-body">@post.Body</div>
          <script>
            var bodyDiv = document.getElementById('body-@post.PostId');
            console.log(bodyDiv);
            bodyDiv.innerHTML = bodyDiv.innerText;
          </script>
        }
    <img class="img-fluid" src="@post.MainImageUrl">
  } *@


<div class="text-center">
  <div class="btn-group">
      <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
  </div>
</div>