@using System
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "@Model.Name";
}

@model ZineClient.Models.Organization

<div class="jumbotron">
  <h1>@Html.DisplayFor(model => model.Name)</h1>
  <br>
  <p> @Html.DisplayFor(model => model.Description)</p>
</div>


@if (@Model.Zines.Count == 0)
{
  <p>This organization doesn't have zines yet</p>
}
else
{
  foreach(Zine zine in Model.Zines)
  {
    <h4><a asp-controller="Zines" asp-action="Details" asp-route-id="@zine.ZineId">@zine.Name</a></h4>
    <img class="img-fluid" src="@zine.MainImageUrl">
      @if (User.Identity.IsAuthenticated)
      { 
        <p><a asp-controller="Zines" asp-action="Delete" asp-route-id="@zine.ZineId">Delete zine?</a></p>
      }
  }
}


@if (@Model.ApplicationUsers.Count == 0)
{
  <p>This organization doesn't have users yet</p>
}
else
{ 
  <p>Members:</p>
  foreach(var join in Model.ApplicationUsers)
  {
    <p>@join.ApplicationUser.FirstName @join.ApplicationUser.LastName</p>
  }
}


@if (User.Identity.IsAuthenticated)
{
  <div class="btn-menu">
    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.OrganizationId">Edit organization</a>
    <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.OrganizationId">Delete organization</a>
    <a class="btn btn-light" asp-controller="Zines" asp-action="Create" asp-route-id="@Model.OrganizationId">Add zine</a>
    <a class="btn btn-light" asp-controller="Organizations" asp-action="AddUser" asp-route-id="@Model.OrganizationId" >Join organization</a>
  </div>
}


