@using System
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "@Model.Name";
}

@model ZineClient.Models.Organization


<h2>Organization Details: @Html.DisplayFor(model => model.Name)</h2>

<p>Description: @Html.DisplayFor(model => model.Description)</p>

@if (@Model.ApplicationUsers.Count == 0)
{
  <p>This organization doesn't have users yet</p>
}
else
{
  <p></p>
  foreach(var join in Model.ApplicationUsers)
  {
    <li>@join.ApplicationUser.FirstName @join.ApplicationUser.LastName</li>
  }
}


@if (@Model.Zines.Count == 0)
{
  <p>This organization doesn't have zines yet</p>
}
else
{
  <p></p>
  foreach(Zine zine in Model.Zines)
  {
    <h4><a asp-controller="Zines" asp-action="Details" asp-route-id="@zine.ZineId">@zine.Name</a></h4>
      @* @if (Model.Owner == User.Identity)
      { *@
        <p><a asp-controller="Zines" asp-action="CheckDelete" asp-route-id="@zine.ZineId">Delete zine?</a></p>
      @* } *@
  }
}



@* @if (User.Identity.Id == Organization.Owner.ApplicationUserId)
{ *@
<div class="btn-menu">
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.OrganizationId">Edit organization</a>
  <a class="btn btn-light" asp-action="CheckDelete" asp-route-id="@Model.OrganizationId">Delete organization</a>
  <a class="btn btn-light" asp-controller="Zines" asp-action="Create" asp-route-id="@Model.OrganizationId">Add zine</a>
</div>
@* } *@


